@inherits ViewPedidoVendaPagamentoPage

<ComponentLayout OnLoad="Page_Load">
    <ListItemViewLayout @ref="ListView" Type="TituloDetalhe">

        <BtnNovo>

            @if (Math.Round(vTotal_Pagamento, 2) != Math.Round(vTotal_Items, 2))
            {

                @if (vTotal_Pagamento < vTotal_Items)
                {
                    <div class="alert alert-danger" role="alert">
                        Ainda falta informar <b>@((vTotal_Items - vTotal_Pagamento).ToString("C2"))</b>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        O valor informado está maior que os itens em <b>@((vTotal_Pagamento - vTotal_Items).ToString("C2"))</b>
                    </div>
                }
            }

            @if (Math.Round(vTotal_Pagamento, 2) == Math.Round(vTotal_Items, 2))
            {
                <div class="alert alert-success" role="alert">
                    Valor informado corretamente!
                </div>
            }

            <ListViewBtnNovo @ref="ListView.ListViewBtnNovo" ListItemViewLayout="ListView" Text="Adicionar" OnClick="ViewLayout_ItemView" />

        </BtnNovo>

        <BtnExcluir>
            <ListViewBtnExcluir @ref="ListView.ListViewBtnExcluir" ListItemViewLayout="ListView" OnClick="ListViewBtnExcluir_Click" />
        </BtnExcluir>

        <ViewPages>
            <EditItemViewLayout @ref="NewItemViewLayout" Title="Pagamento" Width="820px" Top="100px">

                <BtnSalvar>
                    <ViewPageBtnSalvar ListItemViewLayout="ListView" OnClick="ViewPageBtnNewSalvar_Click" />
                </BtnSalvar>

                <View>
                    <!--<div class="row">-->
                    @*<div class="col-md-3">
            <TextBox @ref="TxtDocumento" _Label="Número Doc." OnInput="TxtDocumento_Input" />
        </div>
        <div class="col-md-6">
            <ViewPesquisa @ref="ViewPesquisaPessoa" _Label="Fornecedor" />
        </div>*@
                    <!--<div class="col-md-3">
            <DatePicker @ref="DtpEmissao" _Label="Emissão" OnChange="DtpEmissao_Change" />
        </div>
    </div>-->
                    @*<div class="row">
            <div class="col-md-6">
                <ViewPesquisa @ref="ViewPesquisaPlanoConta" _Label="Plano de conta" />
            </div>
            <div class="col-md-6">
                <ViewPesquisa @ref="ViewPesquisaCentroCusto" _Label="Centro de custo" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <ViewPesquisa @ref="ViewPesquisaContaBancaria" _Label="Conta Bancária" />
            </div>
            <div class="col-md-6">
                <ViewPesquisa @ref="ViewPesquisaFormaPagamento" _Label="Forma de pagamento" />
            </div>
        </div>*@

                    <div class="row">
                        <div class="col-md-6">
                            @if (Informacoes == false)
                            {
                                <span class="link" @onclick="BtnMaisInformacoes_Click">[+] Informações</span>
                            }
                            @if (Informacoes == true)
                            {
                                <span class="link" @onclick="BtnMenosInformacoes_Click">[-] Informações</span>
                            }
                        </div>
                    </div>

                    <br />

                    <div style="display: @(Informacoes ? "block" : "none")">
                        <div class="row">
                            <div class="col-md-6">
                                <ViewPesquisa @ref="New_ViewPesquisaPlanoConta" Tipo="PlanoConta" _Label="Plano de conta" _Title="Procurar plano de conta" />
                            </div>
                            <div class="col-md-6">
                                <ViewPesquisa @ref="New_ViewPesquisaCentroCusto" Tipo="CentroCusto" _Label="Centro de custo" _Title="Procurar centro de custo" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <ViewPesquisa @ref="New_ViewPesquisaContaBancaria" Tipo="ContaBancaria" _Label="Conta bancária" _Title="Procurar conta bancária" OnChange="ViewPesquisaNew_ContaBancaria_Change" />
                        </div>
                        <div class="col-md-6">
                            <ViewPesquisa @ref="New_ViewPesquisaFormaPagamento" Tipo="FormaPagamento" _Label="Forma de pagamento" _Title="Procurar forma de pagamento" OnChange="ViewPesquisaNew_FormaPagamento_Change" OnBeforePesquisar="ViewPesquisaNew_FormaPagamento_BeforePesquisar" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <NumericBox @ref="New_TxtValor" _Label="Valor" OnKeyUp="TxtValor_KeyUp" />
                        </div>
                        <div class="col-md-3">
                            <DatePicker @ref="New_DtpVencimento" _Label="Vencimento" OnChange="DtpVencimento_Change" />
                        </div>

                        <div class="col-md-2">
                            <NumericBox @ref="New_TxtParcelas" _Label="Parcelas" _Digits="0" OnKeyUp="TxtParcelas_KeyUp" />
                        </div>

                        <div class="col-md-3" style="display: @(New_TxtParcelas?.Value > 1 ? "block" : "none")">
                            <DropDownList @ref="New_DplPeriodo" _Label="Período" OnChange="DplPeriodo_Change" />
                        </div>

                        <div class="col-md-2" style="display: @(New_TxtParcelas?.Value > 1 && New_DplPeriodo?.SelectedValue == "0" ? "block" : "none")">
                            <NumericBox @ref="New_TxtPeriodo" _Label="Repetir a cada" _Digits="0" OnKeyUp="TxtPeriodo_KeyUp" />
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <SfGrid @ref="GridViewTituloDetalhe" DataSource="ListTituloDetalhe" AllowReordering="true" AllowResizing="true" AllowFiltering="true" AllowSorting="true" RowHeight="30" onselectstart='return false'>
                                <GridFilterSettings Type="FilterType.Excel" />
                                <GridEditSettings AllowEditing="true" />
                                <GridPageSettings PageSize="30"></GridPageSettings>
                                <GridColumns>
                                    <GridColumn Width="65" Field="nParcela" HeaderText="Parcela" />
                                    <GridColumn Width="200" Field="FormaPagamento.Descricao" HeaderText="Forma de pagamento" />
                                    <GridColumn Width="85" Field="vTotal" HeaderText="Valor" Format="C2" TextAlign="TextAlign.Right" />
                                    <GridColumn Width="110" AllowSorting="false" HeaderText="Vencimento">
                                        <Template>
                                            @{
                                                var item = (TituloDetalhe)context;
                                                <DatePicker _Value="item.DataVencimento" OnChange="@(c => GridViewTituloDetalheDtpVencimento_Change(c, item))"></DatePicker>
                                            }
                                        </Template>
                                    </GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </div>
                    </div>
                </View>
            </EditItemViewLayout>

            <EditItemViewLayout @ref="EditItemViewLayout" Title="Pagamento" Width="820px" Top="100px">

                <BtnSalvar>
                    <ViewPageBtnSalvar ListItemViewLayout="ListView" OnClick="ViewPageBtnEditSalvar_Click" />
                </BtnSalvar>

                <BtnExcluir>
                    <ViewPageBtnExcluir ListItemViewLayout="ListView" OnClick="ViewPageBtnExcluir_Click" />
                </BtnExcluir>

                <View>

                    <div class="row">
                        <div class="col-md-6">
                            @if (Informacoes == false)
                            {
                                <span class="link" @onclick="BtnMaisInformacoes_Click">[+] Informações</span>
                            }
                            @if (Informacoes == true)
                            {
                                <span class="link" @onclick="BtnMenosInformacoes_Click">[-] Informações</span>
                            }
                        </div>
                    </div>

                    <br />

                    <div style="display: @(Informacoes ? "block" : "none")">
                        <div class="row">
                            <div class="col-md-6">
                                <ViewPesquisa @ref="Edit_ViewPesquisaPlanoConta" Tipo="PlanoConta" _Label="Plano de conta" _Title="Procurar plano de conta" />
                            </div>
                            <div class="col-md-6">
                                <ViewPesquisa @ref="Edit_ViewPesquisaCentroCusto" Tipo="CentroCusto" _Label="Centro de custo" _Title="Procurar centro de custo" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <ViewPesquisa @ref="Edit_ViewPesquisaContaBancaria" Tipo="ContaBancaria" _Label="Conta bancária" _Title="Procurar conta bancária" OnChange="ViewPesquisaEdit_ContaBancaria_Change" />
                        </div>
                        <div class="col-md-6">
                            <ViewPesquisa @ref="Edit_ViewPesquisaFormaPagamento" Tipo="FormaPagamento" _Label="Forma de pagamento" _Title="Procurar forma de pagamento" OnChange="ViewPesquisaEdit_FormaPagamento_Change" OnBeforePesquisar="ViewPesquisaEdit_FormaPagamento_BeforePesquisar" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <NumericBox @ref="Edit_TxtValor" _Label="Valor" />
                        </div>
                        <div class="col-md-3">
                            <DatePicker @ref="Edit_DtpVencimento" _Label="Vencimento" />
                        </div>
                    </div>
                </View>

            </EditItemViewLayout>
        </ViewPages>

        <GridView>
            <ListViewGridView @ref="ListView.ListViewGridView" Type="TituloDetalhe" Height="400px" CheckBoxWidth="38" OnItemView="ViewLayout_ItemView" OnDataChange="StateHasChanged">
                <ItemView>
                    @{
                        var item = (TituloDetalhe)context;

                        <ListItemText Primary="@item.vTotal.ToString()">
                            <SecondaryContent>
                                <Typography Component="span" Variant="@TypographyVariant.Body2" Color="@Color.TextPrimary" Style="display: inline;">
                                    @item.vTotal
                                </Typography>
                                — I'll be in your neighborhood
                            </SecondaryContent>
                        </ListItemText>
                    }
                </ItemView>
                <Columns>
                    <GridColumn Field="nParcela" HeaderText="Parcela" Width="40" />
                    <GridColumn Field="DataEmissao" HeaderText="Emissão" Width="50" Format="dd/MM/yyyy" />
                    <GridColumn Field="ContaBancaria.Descricao" HeaderText="Conta bancária" Width="100" />
                    <GridColumn Field="FormaPagamento.Descricao" HeaderText="Forma de pagamento" Width="100" />
                    <GridColumn Field="DataVencimento" HeaderText="Vencimento" Width="50" Format="dd/MM/yyyy" />
                    <GridColumn Field="vLiquido" HeaderText="Valor" Width="50" Format="C2" TextAlign="TextAlign.Right" />
                </Columns>
            </ListViewGridView>
        </GridView>
    </ListItemViewLayout>
</ComponentLayout>