@inherits ViewContaBancariaFormaPagamentoPage

<ListItemViewLayout @ref="ListItemViewLayout"
                    TValue="ContaBancariaFormaPagamento"
                    Simples="true"
                    Height="300px"
                    OnPageLoad="ViewLayout_PageLoad"
                    OnItemView="ViewLayout_ItemView"
                    OnDelete="ViewLayout_Delete">
    <View>
        <EditItemViewLayout @ref="EditItemViewLayout"
                            ListItemViewLayout="ListItemViewLayout"
                            Title="Adicionar forma de pagamento"
                            Simples="true"
                            Width="650px"
                            OnLimpar="ViewLayout_Limpar"
                            OnCarregar="ViewLayout_Carregar"
                            OnSalvar="ViewLayout_Salvar"
                            OnExcluir="@(() => ViewLayout_Delete(new List<object>() { EditItemViewLayout.ViewModal }))">
            <View>
                <Box Padding="3">

                    <div class="row">
                        <div class="col-md-10 col-sm-10">
                            <TextBox @ref="TxtSmtp" _Label="Smtp" _CharacterCasing="CharacterCasing.LowerCase" _AutoFocus="true"></TextBox>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <TextBox @ref="TxtPorta" _Label="Porta" _CharacterCasing="CharacterCasing.LowerCase"></TextBox>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <TextBox @ref="TxtEmail" _Label="Email" _CharacterCasing="CharacterCasing.LowerCase"></TextBox>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <TextBox @ref="TxtSenha" _Type="@TextBoxType.Password" _Label="Senha" _CharacterCasing="CharacterCasing.None"></TextBox>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <TextBox @ref="TxtConfirmarSenha" _Type="@TextBoxType.Password" _Label="Confirmar Senha" _CharacterCasing="CharacterCasing.None"></TextBox>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-sm-12">
                            <CheckBox @ref="ChkSSL" _Label="Habilitar SSL" _Checked="true"></CheckBox>
                        </div>
                    </div>

                </Box>
            </View>
        </EditItemViewLayout>
    </View>
    <ItemView>
        @{
            var item = (ContaBancariaFormaPagamento)context;

            <ListItemText Primary="@item.FormaPagamento.Descricao">
                <SecondaryContent>
                    <Typography Component="span" Variant="@TypographyVariant.Body2" Color="@Color.TextPrimary" Style="display: inline;">
                        @item.FormaPagamento.Descricao
                    </Typography>
                    — I'll be in your neighborhood
                </SecondaryContent>
            </ListItemText>
        }
    </ItemView>
    <GridView>
        <GridColumn Field="FormaPagamento.Descricao" HeaderText="ContaBancariaID" Width="200"></GridColumn>
    </GridView>
</ListItemViewLayout>