@inherits EditItemViewLayoutPage

<style>
    .fab-button {
        right: 16px;
        bottom: 16px;
        position: fixed;
    }
</style>

<ViewModal @ref="ViewModal" FullScreen="true" Title="@Title" Width="@Width">

    @if (HelpParametros.Template == Template.Mobile)
    {
        <AppBar Style="position: relative;">
            <Toolbar>
                <IconButton Edge="@IconButtonEdge.Start" Color="@Color.Inherit" OnClick="ViewModal.Hide" aria-label="close">
                    <CloseIcon />
                </IconButton>
                <Typography Variant="@TypographyVariant.H6" Style="flex: 1; margin-left: 16px;">
                    Usuário
                </Typography>
                <Button Color="@Color.Inherit" OnClick="@BtnSalvar_Click">
                    save
                </Button>
                @if (ItemViewMode == ItemViewMode.Edit)
                {
                    <Button Color="@Color.Inherit" OnClick="@BtnExcluir_Click">
                        delete
                    </Button>
                }
            </Toolbar>
        </AppBar>
    }
    else
    {
<div class="box-header with-border">
    <Button Variant="@ButtonVariant.Contained" OnClick="BtnLimpar_Click">
        <StartIcon>
            <FilterListIcon />
        </StartIcon>
        <ChildContent>
            Limpar
        </ChildContent>
    </Button>

    <Button Variant="@ButtonVariant.Contained" Style="color: #fff; background-color: #5cb85c; width: 110px" OnClick="BtnSalvar_Click">
        <StartIcon>
            <SaveIcon />
        </StartIcon>
        <ChildContent>
            Salvar
        </ChildContent>
    </Button>
    @if (ItemViewMode == ItemViewMode.Edit)
    {
        <Button Variant="@ButtonVariant.Contained" OnClick="BtnExcluir_Click" Style="color: #fff; background-color: #df4759; width: 110px">
            <StartIcon>
                <DeleteIcon />
            </StartIcon>
            <ChildContent>
                Excluir
            </ChildContent>
        </Button>
    }
</div>
    }

    @View

</ViewModal>