@inherits MenuLayout;
@*<Navigation Items="@Items" />*@

<style>
    .Sidebar-Content {
        padding: 0px !important;
        background-color: #1D2B36;
    }

    .ListItemText-Root {
        flex: 1 1 auto;
        min-width: 0;
        margin-top: 2px !important;
        margin-bottom: 2px !important;
        margin-left: -30px !important;
    }
</style>
<style>
    .Menu-Accordion {
        background-color: #1D2B36;
        color: #fff;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

        .Menu-Accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        .Menu-Accordion.active:after {
            content: "\2212";
        }

    .Menu-Accordion-Item {
        background-color: #495057;
        color: #fff;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .Navigation-Active {
        color: #75ecff !important;
    }

    .Navigation-Item a:hover {
        color: #fff;
    }
</style>

<div class="Menu-Accordion"><MenuIcon />&nbsp;&nbsp; Cadastros</div>
<div class="Menu-Accordion-Item">
    <Navigation Items="@Cadastros" />
</div>

<div class="Menu-Accordion"><MenuIcon />&nbsp;&nbsp; Estoque</div>
<div class="Menu-Accordion-Item">
    <Navigation Items="@Estoque" />
</div>

<div class="Menu-Accordion"><MenuIcon />&nbsp;&nbsp; Comercial</div>
<div class="Menu-Accordion-Item">
    <Navigation Items="@Comercial" />
</div>

<div class="Menu-Accordion"><MoneyIcon />&nbsp;&nbsp; Financeiro</div>
<div class="Menu-Accordion-Item">
    <Navigation Items="@Financeiro" />
</div>

<div class="Menu-Accordion"><MoneyIcon />&nbsp;&nbsp; Fiscal</div>
<div class="Menu-Accordion-Item">
    <Navigation Items="@Fiscal" />
</div>

<div class="Menu-Accordion"><SettingsIcon />&nbsp;&nbsp; Configuracao</div>
<div class="Menu-Accordion-Item">
    <Navigation Items="@Configuracoes" />
</div>

@code
{ private static List<NavigationItem> Cadastros = new List<NavigationItem>
            {
        new NavigationItem
        {
            Title = "Clientes",
            Path = "Cadastros/Clientes",
            Prefix = false
        },

        new NavigationItem
        {
            Title = "Fornecedores",
            Path = "Cadastros/Fornecedores",
            Prefix = false
        },

        new NavigationItem
        {
            Title = "Transportadoras",
            Path = "Cadastros/Transportadoras",
            Prefix = false
        },

        new NavigationItem
        {
            Title = "Funcionarios",
            Path = "Cadastros/Funcionarios",
            Prefix = false
        },

        new NavigationItem
        {
            Title = "Usuarios",
            Path = "Cadastros/Usuarios",
            Prefix = false
        },

        new NavigationItem
        {
            Title = "Produtos",
            Path = "Cadastros/Produtos",
            Prefix = false
        },

        new NavigationItem
        {
            Title = "Formas de pagamentos",
            Path = "Cadastros/FormasPagamentos",
            Prefix = false
        },

        new NavigationItem
        {
            Title = "Contas bancarias",
            Path = "Cadastros/ContaBancarias",
            Prefix = false
        },

    };

    private static List<NavigationItem> Estoque = new List<NavigationItem>
        {

        new NavigationItem
        {
            Title = "Entrada",
            Path = "Estoque/Entradas",
            Prefix = false
        },

    };

    private static List<NavigationItem> Comercial = new List<NavigationItem>
        {

        new NavigationItem
        {
            Title = "Vendas",
            Path = "Comercial/Vendas",
            Prefix = false
        },

        new NavigationItem
        {
            Title = "Separacao",
            Path = "Comercial/Separacao",
            Prefix = false
        },

        new NavigationItem
        {
            Title = "Conferencia",
            Path = "Comercial/Conferencia",
            Prefix = false
        },

        new NavigationItem
        {
            Title = "Faturamento",
            Path = "Comercial/Faturamento",
            Prefix = false
        },

        new NavigationItem
        {
            Title = "Expedicao",
            Path = "Comercial/Expedicao",
            Prefix = false
        },

    };

    private static List<NavigationItem> Financeiro = new List<NavigationItem>
        {

        new NavigationItem
        {
            Title = "Contas a pagar",
            Path = "Financeiro/ContasPagar",
            Prefix = false
        },

        new NavigationItem
        {
            Title = "Contas a receber",
            Path = "Financeiro/ContasReceber",
            Prefix = false
        },

    };

    private static List<NavigationItem> Fiscal = new List<NavigationItem>
        {

        new NavigationItem
        {
            Title = "Tributacoes",
            Path = "Fiscal/Tributacoes",
            Prefix = false
        },

        new NavigationItem
        {
            Title = "Notas fiscais",
            Path = "Fiscal/NotasFiscais",
            Prefix = false
        },

        new NavigationItem
        {
            Title = "Conhec. transp.",
            Path = "Fiscal/ConhecimentosTransportes",
            Prefix = false
        },

    };

    private static List<NavigationItem> Configuracoes = new List<NavigationItem>
        {

        new NavigationItem
        {
            Title = "Empresa",
            Path = "Configuracoes/Empresa",
            Prefix = false
        },

    }; }