@page "/Login/Entrar";

@layout SmallLayout;

@inherits ViewLoginPage;

<Layout>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <Typography Class="auth-form-title" Variant="TypographyVariant.H3">Login</Typography>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Domínio</label>
                <div class="input-group">
                    <TextBox @ref="TxtName" _ReadOnly="true"></TextBox>
                    <button class="btn btn-outline-secondary" type="button" @onclick="BtnAlterarDominio_Click"><EditIcon /> Alterar</button>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <DropDownList @ref="DplEmpresa" _Label="Empresa"></DropDownList>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <TextBox @ref="TxtUsuario" _Label="Usuário" _AutoFocus="true"></TextBox>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <TextBox _Label="Senha"></TextBox>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <CheckBox @ref="ChkManterConectado" _Label="Manter conectado"></CheckBox>
            </div>
        </div>
    </div>

    <Grid Container Spacing="@Spacing.Three" AlignItems="AlignItems.Center">
        <Grid Item ExtraSmall="@GridSize.Six">
            <NavLink href="Login/Recuperar" Match="NavLinkMatch.Prefix">Esqueci minha senha</NavLink>
        </Grid>
        <Grid Item ExtraSmall="@GridSize.Six">
            <Button Class="auth-form-submit-button" Color="@Color.Primary" FullWidth Size="@Size.Large" Variant="@ButtonVariant.Contained" OnClick="BtnEntrar_Click">Entrar</Button>
        </Grid>
    </Grid>
</Layout>