@inherits ViewPessoaContatoPage

<ComponentLayout>
    <ListItemViewLayout @ref="ListItemViewLayout">

        <BtnNovo>
            <ListViewBtnNovo Text="Adicionar" OnClick="ViewLayout_ItemView" />
        </BtnNovo>

        <BtnExcluir>
            <ListViewBtnExcluir OnClick="ViewLayout_Excluir" />
        </BtnExcluir>

        <ViewPages>
            <EditItemViewLayout @ref="EditItemViewLayout" Title="E-mail" Width="650px" ZIndex="8001">

                <BtnSalvar>
                    <ViewPageBtnSalvar OnClick="ViewLayout_Salvar" />
                </BtnSalvar>

                <BtnExcluir>
                    <ViewPageBtnExcluir OnClick="@(() => ViewLayout_Excluir(new List<object>() { ViewModel }))" />
                </BtnExcluir>

                <View>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <TextBox @ref="TxtNome" _Label="Nome"></TextBox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <TextBox @ref="TxtTelefone" _Label="Telefone"></TextBox>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <TextBox @ref="TxtEmail" _Label="E-mail" _CharacterCasing="CharacterCasing.LowerCase"></TextBox>
                        </div>
                    </div>
                </View>
            </EditItemViewLayout>
        </ViewPages>

        <!--<View>-->
        @*<ViewUsuario @ref="View" ListItemViewLayout="ListItemViewLayout"></ViewUsuario>*@
        <!--</View>-->
        @*<ItemView>
                @{
                    var item = (Usuario)context;

                    <ListItemText Primary="@item.Login">
                        <SecondaryContent>
                            <Typography Component="span" Variant="@TypographyVariant.Body2" Color="@Color.TextPrimary" Style="display: inline;">
                                @item.Login
                            </Typography>
                            — I'll be in your neighborhood
                        </SecondaryContent>
                    </ListItemText>
                }
            </ItemView>*@

        <GridView>
            <GridViewItem OnDoubleClick="ViewLayout_ItemView">
                <GridColumn Field="Contato.Nome" HeaderText="Nome" Width="220" />
                <GridColumn Field="Contato.Telefone" HeaderText="Telefone" Width="120" />
                <GridColumn Field="Contato.Email" HeaderText="E-mail" Width="400" />
            </GridViewItem>
        </GridView>
    </ListItemViewLayout>
</ComponentLayout>

@*@inherits ViewPessoaContatoPage

    <ListItemViewLayout @ref="ListItemViewLayout"
                        TValue="PessoaContato"
                        Simples="true"
                        Height="300px"
                        OnPageLoad="ViewLayout_PageLoad"
                        OnItemView="ViewLayout_ItemView"
                        OnDelete="ViewLayout_Delete">
        <View>
            <EditItemViewLayout @ref="EditItemViewLayout"
                                ListItemViewLayout="ListItemViewLayout"
                                Title="Contato"
                                Simples="true"
                                Width="540px"
                                OnLimpar="ViewLayout_Limpar"
                                OnCarregar="ViewLayout_Carregar"
                                OnSalvar="ViewLayout_Salvar"
                                OnExcluir="@(() => ViewLayout_Delete(new List<object>() { EditItemViewLayout.ViewModal }))">
                <View>
                    <Box Padding="3">

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <TextBox @ref="TxtNome" _Label="Nome" _AutoFocus="true"></TextBox>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <TextBox @ref="TxtTelefone" _Label="Telefone"></TextBox>
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <TextBox @ref="TxtEmail" _Label="E-mail" _CharacterCasing="CharacterCasing.LowerCase"></TextBox>
                            </div>
                        </div>

                    </Box>
                </View>
            </EditItemViewLayout>
        </View>
        <ItemView>
            @{
                var item = (PessoaContato)context;

                <ListItemText Primary="@item.Contato.Nome">
                    <SecondaryContent>
                        <Typography Component="span" Variant="@TypographyVariant.Body2" Color="@Color.TextPrimary" Style="display: inline;">
                            @item.Contato.Nome
                        </Typography>
                        — I'll be in your neighborhood
                    </SecondaryContent>
                </ListItemText>
            }
        </ItemView>
        <GridView>
            <GridColumn Field="Contato.Nome" HeaderText="Nome" Width="220"></GridColumn>
            <GridColumn Field="Contato.Telefone" HeaderText="Telefone" Width="120"></GridColumn>
            <GridColumn Field="Contato.Email" HeaderText="E-mail" Width="400"></GridColumn>
        </GridView>
    </ListItemViewLayout>*@