@inherits DatePickerComponent

@if (HelpParametros.Template == Template.Mobile)
{
    <TextField Type="date"
               Value="@(Value.HasValue ? Value.Value.ToString("yyyy-MM-dd") : "")"
               OnChange="Change"
               Label="@_Label"
               Margin="@Margin.Normal"
               Variant="@TextFieldVariant.Outlined"
               Shrink="true"
               FullWidth="true" />
}
else
{

    @if (_Label != null)
    {
        <label for="@Element.Id">@_Label</label>
    }

    <input type="date" id="@Element.Id" class="form-control" @ref="@Element" value="@(Value.HasValue ? Value.Value.ToString("yyyy-MM-dd") : "")" @onchange="Change" placeholder="@_PlaceHolder" readonly="@_ReadOnly" @onfocusin="DatePicker_FocusIn" />

}