@inherits NumericBoxComponent
@*@if (_Label != null)
    {
        <label for="@TextBox.Id">@_Label</label>
    }

    <input type="text" class="form-control" @ref="@TextBox" @bind="@_Text" placeholder="@_PlaceHolder" readonly="@_ReadOnly" style="text-transform: @_CharacterCasing.ToString().ToLower()" />*@

@if (HelpParametros.Template == Template.Mobile)
{
    <TextField @ref="TextField"
               Label="@_Label"
               Margin="@Margin.Normal"
               Variant="@TextFieldVariant.Outlined"
               Style="width: 100%" />
}
else
{

    @if (_Label != null)
    {
        <label for="@Element.Id">@_Label</label>
    }

    <input type="text" id="@Element.Id" class="form-control" @ref="@Element" maxlength="@_MaxLength" placeholder="@_PlaceHolder" readonly="@_ReadOnly" @onfocusout="NumericBox_OnLeave" @onkeydown="NumericBox_OnKeyDown" @onkeypress="NumericBox_OnKeyPress" @onkeyup="NumericBox_OnKeyUp" />


}