@inherits TextBoxComponent

@if (HelpParametros.Template == Template.Mobile)
{
    <TextField @ref="TextField"
               @bind-Value="@_Text"
               Label="@_Label"
               Margin="@Margin.Normal"
               Variant="@TextFieldVariant.Outlined"
               Style="width: 100%" />
}
else
{

    @if (_Label != null)
    {
        <label for="@Element.Id">@_Label</label>
    }

    <input type="@_Type.ToString().ToLower()" id="@Element.Id" class="form-control" @ref="@Element" @bind="@_Text" placeholder="@_PlaceHolder" readonly="@_ReadOnly" style="text-transform: @_CharacterCasing.ToString().ToLower()" autofocus="@_AutoFocus" @oninput="TextBox_Input" @onkeyup="TextBox_KeyUp" autocomplete="off" />

}