@inherits TextAreaComponent

@if (HelpDisplay.Display.Width > 0 && HelpDisplay.Display.Width <= (int)LayoutSize.Small)
{
    <TextField @ref="TextField"
               @bind-Value="@_Text"
               Label="@_Label"
               Margin="@Margin.Normal"
               Variant="@TextFieldVariant.Outlined"
               Style="width: 100%" />
}

@if (HelpDisplay.Display.Width > (int)LayoutSize.Small)
{

    @if (_Label != null)
    {
        <label for="@Element.Id">@_Label</label>
    }

    <textarea class="form-control" id="@Element.Id" @bind="@_Text" placeholder="@_PlaceHolder" readonly="@_ReadOnly" style="text-transform: @_CharacterCasing.ToString().ToLower()" rows="@_Rows"></textarea>

}