@inherits TextBoxCEPComponent

@if (HelpDisplay.Display.Width > 0 && HelpDisplay.Display.Width <= (int)LayoutSize.Small)
{
    <TextField @ref="TextField"
               @bind-Value="@_Text"
               Label="@_Label"
               Margin="@Margin.Normal"
               Variant="@TextFieldVariant.Outlined"
               Style="width: 100%" />
}

@if (HelpDisplay.Display.Width > (int)LayoutSize.Small)
{

    @if (_Label != null)
    {
        <label for="@Element.Id">@_Label</label>
    }

    <div class="input-group">
        <input type="@_Type.ToString().ToLower()" id="@Element.Id" class="form-control" @ref="@Element" @bind="@_Text" placeholder="@_PlaceHolder" readonly="@_ReadOnly" style="text-transform: @_CharacterCasing.ToString().ToLower()" @oninput="TextBox_Input" @onkeyup="TextBox_KeyUp" autocomplete="off">
        <button class="btn btn-outline-secondary" type="button" @onclick="BtnPesquisar_Click"><SearchIcon /></button>
    </div>

}